<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Robot Controls</title>
    <meta charset="utf-8">
    <meta name="Robot Controls" content="A controller for a Python-based Raspberry Pi robot.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nipplejs.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joystick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" charset="utf-8">
        // Use a "/test" namespace. 
        // An application can open a connection on multiple namespaces, and 
        // Socket.IO will multiplex all those connections on a single 
        // physical channel. If you don't care about multiple channels, you 
        // can set the namespace to an empty string.
        var namespace = '/test';

        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        // http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        // Event handler for new connections. 
        // The callback function is invoked when a connection with the 
        // server is established.
        socket.on('connect', function () {
            socket.emit('my_event', {
                data: 'I\'m connected!'
            });
            console.log("I\'m connected!");
        });

        // Event handler for server sent data. 
        // The callback function is invoked whenever the server emits data
        // to the client. The data is then displayed in the "Received" 
        // section of the page. 
        socket.on('my_response', function (msg) {
            console.log('Received #' + msg.count + ': ' + msg.data);
        });

        function control(message) {
            socket.emit('control_event', {
                data: message
            });
            console.log(message);
        }

        function moveforward() {
            control("Forward");
        }

        function moveleft() {
            control("Left");
        }

        function moveright() {
            control("Right");
        }

        function movebackward() {
            control("Backward");
        }

        function stop() {
            control("Stop");
        }

        document.addEventListener("keydown", function (event) {
            if (event.which === 87 || event.which === 38) {
                moveforward();
            } else if (event.which === 68 || event.which === 39) {
                moveright();
            } else if (event.which === 83 || event.which === 40) {
                movebackward();
            } else if (event.which === 65 || event.which === 37) {
                moveleft();
            }
        });

        document.addEventListener("keyup", function (event) {
            if (event.which === 87 || event.which === 38 ||
                event.which === 68 || event.which === 39 ||
                event.which === 83 || event.which === 40 ||
                event.which === 65 || event.which === 37) {
                stop();
            }
        });
    </script>
</head>

<body>
    <h1>Robot Controls</h1>
    <div id="control_area">
        <div class="zone joystick active" id="joystick"></div>
    </div>
</body>
<script type="text/javascript" charset="utf-8">
    var manager = nipplejs.create({
        zone: document.getElementById('joystick'),
        mode: 'static',
        position: {
            left: '50%',
            top: '50%'
        },
        color: 'blue'
    });

    manager.on("dir:up", function (event) {
        moveforward();
    });
    manager.on("dir:down", function (event) {
        movebackward();
    });
    manager.on("dir:left", function (event) {
        moveleft();
    });
    manager.on("dir:right", function (event) {
        moveright();
    });
    manager.on("end", function (event) {
        stop();
    });
</script>

</html>